<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title><ion-icon src="../../assets/icon/baby-solid.svg"></ion-icon>
      White Noise, Baby!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">White Noise, Baby!</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-list >
    <ion-item color="secondary" *ngFor="let sound of sounds">
      <ion-label>
        <h2>{{sound.name}}</h2>
      </ion-label>
      <ion-icon *ngIf="sound.play==1" name="play" (click)="changeSoundsValue(sound.id)"></ion-icon>
      <ion-icon *ngIf="sound.play==0" name="play-outline" (click)="changeSoundsValue(sound.id)"></ion-icon>
    </ion-item>
  </ion-list>
  
  <ion-card color="secondary">
    <img alt="Logo White Noise Baby" src="../../assets/Logo.PNG"  />
    <ion-card-header>
      <ion-card-title>By Ginjol Apps</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Version: 0.0.2</h2> 
    </ion-card-content>
  </ion-card>
</ion-content>
