<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title><ion-icon src="../../assets/icon/baby-solid.svg"></ion-icon>
      White Noise Baby
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">White Noise Baby</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary">
    <img alt="Silhouette of mountains" src="../../assets/Logo.PNG"  />
    <ion-card-header>
      <ion-card-title>White Noise Baby</ion-card-title>
      <ion-card-subtitle>By Ginjol Apps</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Version: 0.0.1</h2>
      <p></p>
      <p>A baby white noise app is a digital tool that plays soothing white noise sounds to help parents and caregivers calm and relax babies. Baby white noise refers to sounds similar to what a newborn hears in the mother's womb, such as the sound of a heartbeat, blood flow, and other gentle and continuous sounds.</p>
      <p>This app offers a variety of sound options for parents to choose from, such as the soft hum of a machine, the sound of rain, a fan's noise, or the gentle waves of the ocean. These sounds help create a calm and familiar environment for the baby, as they mimic the sounds they heard while in the womb.</p>
      <p>Baby white noise is especially useful in helping newborns fall asleep and maintain a deeper and more prolonged sleep. The constant and soothing sound can help block out other external noises that may disturb the baby and create a more serene sleep environment.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
